#overlay_form {
position: absolute;
border: 5px solid gray;
padding: 10px;
background: white;
width: 300px;
height: 200px;
}
/*
#pop {
border: 1px solid gray;
width: 50px;
text-align: center;
padding: 6px;
border-radius: 5px;
text-decoration: none;
white-space: nowrap;
}
*/